

<li class="card">
  {{#if image}}
  <img class="card__thumb" src="images/{{image}}" />
  {{else}}
  <img class="card__thumb" src="//live.staticflickr.com/{{server}}/{{idApi}}_{{secret}}.jpg" />
  {{/if}}
  {{!-- <form class='card__footer'> --}}
    <div class= "button-container">
  <a href="/removedGoal?id={{_id}}&state={{state}}"><button class="btn btn--warning"><svg class="icon" height="18" viewbox="0 0 24 24" width="18" role="presentation">
    <use xlink:href="#done"></use></button></a>
  {{#ifunfinished state}}
  <a href="/completedGoal?id={{_id}}"><button class="btn btn--warning"><svg class="icon" height="18" viewbox="0 0 24 24" width="18" role="presentation">
    <use xlink:href="#delete"></use></button></a>
  {{/ifunfinished}}
  {{!-- </form> --}}
  </div>
</li>
