<header class="banner">
  {{>nav_bar_member}}
  <div class="masthead">
    <div class="content-wrapper">
      <h1>Get inspired. Create your bucket list. Share.</h1>
      <form class="masthead__search input" class="search" action="/search" method="POST">
        <label class="input__label" for="cta-search-input">Inspire me</label>
        <div class="input__row">
          <input class="input__field" id="cta-search-input" name="search" type="text"
            placeholder="e.g. See the northern lights" />
          <button class="btn btn--cta" type="submit"><svg class="icon" height="18" viewbox="0 0 24 24" width="18" role="presentation">
            <use xlink:href="#search"></use></button>
        </div>
      </form>
    </div>
  </div>
</header>
<main>
  <div class="content-wrapper">
    <h2 class="searchTitle">Some ideas</h2>
    <ul id="listContainer" class="bare-list cards">
      {{#each photo }}
      <li class="card"><img 
          src="//live.staticflickr.com/{{this.server}}/{{this.id}}_{{this.secret}}.jpg" />
        {{!-- <button class="btn add btn--cta card__footer">Add goal</button> --}}
        <div class="card__footer">
          <a class="card__thumb" href="/myGoals?server={{this.server}}&idApi={{this.id}}&secret={{this.secret}}&title={{this.title}}">
          <button class="btn add btn--cta "><svg class="icon" height="18" viewbox="0 0 24 24" width="18" role="presentation">
            <use xlink:href="#add"></use></button></a>
          
        </div>
      </li>
      {{/each}}
    </ul>
  </div>
  <div>
  {{> footer}}
  </div>
</main>
